*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration: none;
}

.w-container{
	width:100%;
	margin-top:90px;
}
@media screen and (max-width: 1068px){
	.w-container{
		width:100%;
		margin-top:0px;
	}
}
.w-container .w-banner{
	width:100%;
	height:300px;
	position:relative;
}
.w-container .w-banner .w-banner-in{
	width:100%;
	height:54px;
	position:absolute;
	left:0px;
	bottom:-30px;
	z-index:20px;
}
@media screen and (max-width:768px){
	.w-container .w-banner .w-banner-in{
		display:none;
	}
}
@media screen and (max-width:480px){
	.w-container .w-banner{
		height:250px;
	}
}
.w-container .news{
	width:100%;
	max-width:1140px;
	margin:auto;
}
.w-container .news .news-tit{
	width:100%;
	height:82px;
	padding:50px 0 8px;
	text-align:center;  

}
.w-container .news .news-tit h3{
	font-size:30px;
	color: #002;
    margin-bottom: 10px;
    font-weight: normal;
}
.w-container .news .news-tit h5{
	font-size: 20px;
    color: #cacace;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: normal;
}
.w-container .news .news-tit h5 .h5-sp2{
	color:#e4392a;
}
.w-container .news .news-bott{
	width:100%;
	text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
    font-family: "微软雅黑", "Microsoft Yahei";
}
.w-container .news .news-bott ul{
	display: block;
	text-align:center;
}
.w-container .news .news-bott ul li{
	display: inline-block;
    margin: 0 18px;
    font-size: 16px;
    position:relative;
}
.w-container .news .news-bott ul li:hover a{
	color:#E40011;
}
.w-container .news .news-bott ul li:hover .dot{
	display:block;
}
.w-container .news .news-bott ul li .dot{
	width:5px;
	height:5px;
	background:#E40011;
	position:absolute;
	left:-5px;
	top:8px;
	display:none;
}
.w-container .news .news-bott ul li a{
	padding-left: 14px;
	color:#999;
	font-size: 16px;
}
.w-container .news .ul-list{
	width:100%;
	list-style:none;
	box-sizing: border-box;
	overflow: hidden;
}
@media screen and (min-width:1070px){
	.w-container .news .ul-list li:nth-child(1) .cont{
		width:100%;
		height:100%;
		padding: 0 15px 0 0;
		box-sizing:border-box;	
	}
	.w-container .news .ul-list li:nth-child(4) .cont{
		width:100%;
		height:100%;
		padding: 0 0 0 15px;
		box-sizing:border-box;	
	}
	.w-container .news .ul-list li:nth-child(6) .cont{
		width:100%;
		height:100%;
		padding: 0 0 0 15px;
		box-sizing:border-box;	
	}
	.w-container .news .ul-list li:nth-child(7) .cont{
		width:100%;
		height:100%;
		padding:0 15px 0 0;
		box-sizing:border-box;	
	}
}

.w-container .news .ul-list li{
	float: left;
    width: 25%;
    margin-bottom: 30px;
    min-height: 362px;
    display: list-item;
    box-sizing: border-box;
}
@media screen and (max-width:960px){
	.w-container .news .ul-list li{
		width:33.3333%;
		min-height: 363px;
	}
}
@media screen and (max-width:768px){
	.w-container .news .ul-list li{
		width:50%;
		min-height:408px;
	}
}
@media screen and (max-width:480px){
	.w-container .news .ul-list li{
		width:100%;
	}
}
.w-container .news .ul-list li .cont{
	width:100%;
	height:100%;
	padding: 0 15px;
	box-sizing:border-box;
	perspective:650px;		
}
.w-container .news .ul-list li .cont:hover img{
	transform:rotate3d(0,1,0,180deg);
}
.w-container .news .ul-list li .cont:hover .cont-bot1{
	border: 1px solid #E4392A;
}
.w-container .news .ul-list li .cont .cont-top1{
	width:100%;
	perspective:650px;
}
.w-container .news .ul-list li .cont .cont-top1 a{
	color: #999;
	text-decoration:none;
}
.w-container .news .ul-list li .cont .cont-top1 a img{
	width:100%;
	height:100%;
	transition:all 1.5s;
}
.w-container .news .ul-list li .cont .cont-bot1{
	width:100%;
	border: 1px solid #e2e3e8;
	box-sizing:border-box;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt{
	padding: 20px 14px;
    line-height: 20px;
    color: #666;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title{
	height:55px;
	width:100%;
    margin-bottom: 20px;
    box-sizing:border-box;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title .data{
	width:56px;
	height:100%;
	background-color: #f0f2f5;
	float: left;
    border: 1px solid #e2e3e8;
   	display: inline-block;
    text-align: center;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title .data p{
	display:block;
	font-size: 16px;
	font-weight: normal;
    font-style: normal;
    margin-top:5px;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title .data span{
	display:block;
	font-size: 12px;
	margin-top:2px;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title .word{
	border-bottom: 1px solid #e2e3e8;
    overflow: hidden;
    height: 54px;
    font-weight: normal;
    padding-left:20px;
    padding-right:10px;
    box-sizing:border-box;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title .word a{
	text-decoration:none;
	font-size:14px;
	color: #999;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title1{
	width:96%;
	height:60px;
	margin-top:22px;
	margin-left:6px;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title1 a{
	color:#666;
	text-decoration: none;
}
.w-container .news .ul-list li .cont .cont-bot1 .txt .title1 p{
	font-size:12px;
}
.side1{
	position: fixed;
    width: 50px;
    height: 275px;
    right: 0;
    top: 250px;
    z-index: 100;
}
.side1 ul li{
	width: 50px;
    height: 50px;
    float: left;
    position: relative;
    margin-bottom: 2px;
}
.side1 ul li .sidebox{
	position: absolute;
	width: 50px;
	height: 50px;	
	border-radius: 5px 0 0 5px;
	background: rgb(0, 0, 34);
    top: 0;
    right: 0;
    transition: all 0.3s;
    color: #fff;
    font: 16px/50px "微软雅黑";
    overflow: hidden;
}
.side1 ul li img{
	float: right;
	transform-origin:right top;
}
.side1 ul li:hover img{
	animation: scale .2s; 
}
